:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4f4;
    --accent-background-color: #2F303A;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --light-color: #ECECEC;
    --accent-color: #2196F3;
}

    
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    /* border-color: #000000; */

}
    
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

ul {
    list-style: none; 
}

.conteiner {
    background-color: var(--primary-background-color);
    width: 1600px;
    margin: auto;
    padding-left: 215px;
    padding-right: 215px;
}

/*header*/
 .header .conteiner {
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 25px;
    padding-bottom: 25px;
}
   
/*logo*/
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
    
.studio-black {
    color: #000000;
}

.studio-white {
    color: #ffffff;
}

/* nav */
.header .site-nav,
.header .auth-nav {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    gap: 50px;
}

.site-nav + .site-nav,
.auth-nav + .auth-nav {
    margin-left: 70px;
}
    
.link,
.address,
.logo {
    text-decoration: none; 
}

.site-nav .link {
    color: var(--title-text-color);
    line-height: 1.14;
}
   
.site-nav .link.current {
    color: var(--accent-color);
}
    
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
    
.auth-nav .address {
    color: var(--primary-text-color);
    line-height: 1.2;
}
   
.auth-nav .address:hover,
.auth-nav .address:focus {
    color: var(--accent-color);
}
    
/* hero*/
.hero {
    color: var(--light-color) ;
    text-align: center;
}
    
.hero .conteiner {
    height: 600px;
    padding-top: 280px;
    
}

.hero-title {       
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
    width: 696px;
    margin: auto;    
}

.button {
    border-color: transparent;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}
    
.button.current {
    color: var(--accent-color);
}
    
.button.studio {
    background-color: var(--accent-color);
    color: var(--light-color);
    
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba (0, 0, 0, 0.15);
         
    font-weight: 700;  
    line-height: 1.9;

    padding: 10px, 32px;
}
    
.button.studio:hover {
    background-color: var(--light-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}
     
/*section*/
.section .feature-list,
.section .service-list,
.section .team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    gap: 30px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    padding-top: 94px;
}
    
/*about work*/
.feature-content {
    width: 270px;
}

.feature-list {
    gap: 30px;
} 
    

.feature-list + .feature-list {
    padding-left: 30px;
}

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    padding-top: 94px;
}
    
.feature-list .text {
    color: var(--primary-text-color);
    line-height: 1.7;
}
  
/*service*/
.service-list {
    padding-top: 50px;
    padding-bottom: 94px;
}
/*team*/
.team .conteiner {
    background-color: var(--secondary-background-color) ;
}
    
.team-list {
    font-size: 16px;
    line-height: 1.2;
    padding-top: 50px;
    padding-bottom: 94px;
}
.team-list .team-content {
    background: var(--primary-background-color);
}


.team-content {
    background: var(--primary-background-color-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
}

.team-content .title,
.team-content .item {
    text-align: center;
}

.team-list .title {
    color: var(--title-text-color);

    font-weight: 500;
    padding-top: 30px;
} 
    
.team-list .item {
    color: var(--primary-text-color);
    padding-top: 10px;
    padding-bottom: 30px;
}
    
/*portfolio*/
.border {
    border: 1px solid var(--secondary-background-color);
    width: 1600px;
}

.button.portfolio  {
    background-color: var(--secondary-background-color);
    height: 38px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-text-color);    
    align-items: center;

    margin: auto;
    padding: 6px 22px;
}
     
.button.portfolio:hover,
.button.portfolio:focus {
    background-color: var(--accent-color);
    color: var(--light-color);
    border-color: var(--accent-color);
}

.conteiner .portfolio-list {
    margin: auto;
    display: flex;
    margin-top: 94px;
    padding: 0;
    justify-content: center;
    gap: 8px;
}

.portfolio-table {
    margin: auto;
    padding-top: 50px;
}

.portfolio-project .title,
.portfolio-project .item {
    margin-right: 25px;
    margin-left: 25px;
    padding: auto;
}
   
.portfolio-table .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;  

    margin-top: 20px;
}

.portfolio-project .item {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    
    margin-bottom: 20px;    
}

 
/*footer*/
.footer .conteiner {
    background-color: var(--accent-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .auth-nav {
    padding-top: 20px;
}

.footer .address {
    padding-top: 10px ;
}
    